// Navigation Styles here

nav {
    display: flex;
    padding: 1% 0;
    width: 800px;
    margin: 0 auto;

    .fun-bus {
        width: 50%;
    } // this ends .fun-bus


    .links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        font-size: 1.6rem;
    } // this ends .links

} // this ends nav



